
*.apk
*.apk.idsig
.apt_generated
bin/
brainops-release.jks
build/
/captures
.classpath
/currentPosition.properties
/dist/
.DS_Store
### Eclipse ###
.factorypath
.gradle
!gradle/wrapper/gradle-wrapper.jar
.idea/*
!.idea/icon.png
*.iml
### IntelliJ IDEA ###
*.ipr
*.iws
*.jks
KEYSTORE_PASSWORD.txt
.kotlin
/local.properties
### Mac OS ###
/nbbuild/
/nbdist/
/.nb-gradle/
/nbproject/private/
### NetBeans ###
out/
.project
# Release artifacts
.settings
.springBeans
!**/src/main/**/bin/
!**/src/main/**/build/
!**/src/main/**/out/
!**/src/test/**/bin/
!**/src/test/**/build/
!**/src/test/**/out/
.sts4-cache
.vscode/
### VS Code ###
